.u-block-5d11-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5d11-3 {
  position: absolute;
  left: 0;
}

.u-block-5d11-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/pixelcut-export15.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-group-1 {
  width: 539px;
  min-height: 288px;
  background-image: none;
  height: auto;
  margin: 585px auto 0 0;
}

.u-section-1-1 .u-container-layout-1 {
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1-1 .u-text-1 {
  font-size: 3rem;
  width: 388px;
  margin: 0 auto;
}

.u-section-1-1 .u-text-2 {
  margin-top: 129px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    background-position: 77.26% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1-1 .u-group-1 {
    width: 422px;
    min-height: 136px;
    margin-top: 453px;
    height: auto;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-bottom: 26px;
    margin-left: 70px;
  }

  .u-section-1-1 .u-text-2 {
    position: relative;
    margin-top: 252px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: 158px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 63px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 275px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-1 .u-group-1 {
    width: 352px;
    min-height: 103px;
    margin-top: 102px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
    margin: 20px 15px 20px 56px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1-1 .u-group-1 {
    min-height: 119px;
    margin-top: 418px;
    margin-bottom: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.5rem;
    margin: 0 12px 24px 62px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 838px;
  }
}

 .u-section-1-2 {
  background-image: url("images/ejemplos-de-inteligencia-artificial-en-la-vida-cotidiana.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 948px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-2 .u-group-1 {
  width: 570px;
  min-height: 348px;
  background-image: none;
  height: auto;
  margin: 468px auto 0 25px;
}

.u-section-1-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1-2 .u-line-1 {
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-text-1 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 35px 0;
}

.u-section-1-2 .u-text-2 {
  margin: 132px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1-2 .u-group-1 {
    width: 422px;
    margin-top: 589px;
    height: auto;
  }

  .u-section-1-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-left: 70px;
  }

  .u-section-1-2 .u-text-2 {
    position: relative;
    margin-top: 57px;
    margin-bottom: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1-2 .u-group-1 {
    margin-top: 294px;
  }

  .u-section-1-2 .u-line-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-text-1 {
    margin: 37px 20px 39px 64px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-2 .u-group-1 {
    width: 352px;
    min-height: 102px;
    margin-top: 205px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.125rem;
    margin: 20px 13px 18px 60px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1-2 .u-group-1 {
    width: 58px;
    min-height: 100px;
    margin-top: -203px;
  }

  .u-section-1-2 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 20px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 413px;
  }
}

 .u-section-1-3 {
  background-image: url("images/inteligencia-artificial-ciberseguridad.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 808px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-3 .u-group-1 {
  width: 472px;
  min-height: 219px;
  background-image: none;
  height: auto;
  margin: 558px auto 0 0;
}

.u-section-1-3 .u-line-1 {
  transform-origin: left center 0;
  margin: 0 auto 0 0;
}

.u-section-1-3 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 37px 47px 0;
}

.u-section-1-3 .u-text-2 {
  margin: 19px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-1-3 .u-group-1 {
    width: 422px;
    margin-top: 589px;
    height: auto;
  }

  .u-section-1-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-right: 26px;
    margin-left: 70px;
  }

  .u-section-1-3 .u-text-2 {
    position: relative;
    margin-top: 57px;
    margin-bottom: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 294px;
  }

  .u-section-1-3 .u-line-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 20px;
    margin-bottom: 39px;
    margin-left: 64px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1-3 .u-group-1 {
    width: 352px;
    min-height: 102px;
    margin-top: 205px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.125rem;
    margin: 20px 13px 18px 60px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-group-1 {
    width: 58px;
    min-height: 100px;
    margin-top: -203px;
  }

  .u-section-1-3 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 20px;
  }

  .u-section-1-3 .u-text-2 {
    margin-top: 850px;
    margin-bottom: 9px;
  }
} .u-section-2 {
  min-height: 876px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: auto;
  right: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1228px;
  margin: 70px calc(((100% - 1140px) / 2)  + -88px) 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 873px;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  height: 199px;
  width: 509px;
  margin: 0 -224px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 20px -233px 0 0;
}

.u-section-2 .u-image-2 {
  height: 338px;
  width: 509px;
  margin: 47px -224px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 836px;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 836px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 370px;
  height: 3px;
  transform-origin: left center;
  margin: 47px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 175px;
  height: 9px;
  transform-origin: left center;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 578px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 70px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-2 .u-image-1 {
    height: 83px;
    width: 213px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 142px;
    width: 213px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 640px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 443px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 360px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 62px;
    width: 158px;
  }

  .u-section-2 .u-image-2 {
    height: 105px;
    width: 158px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 285px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1722px;
  }

  .u-section-2 .u-shape-1 {
    height: 585px;
    margin-top: 1140px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1655px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1470px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1666px;
  }

  .u-section-2 .u-shape-1 {
    height: 683px;
    margin-top: 983px;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1596px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 926px;
  }
} .u-section-3 {
  min-height: 1063px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 1063px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px 70px;
}

.u-section-3 .u-line-1 {
  width: 326px;
  height: 3px;
  transform-origin: left center;
  margin: 101px auto 0 80px;
}

.u-section-3 .u-text-1 {
  margin: 18px 121px 0 39px;
}

.u-section-3 .u-line-2 {
  width: 175px;
  height: 9px;
  transform-origin: left center;
  margin: 32px auto 0 80px;
}

.u-section-3 .u-text-2 {
  margin: 39px 0 0 45px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  margin: 39px auto 0 80px;
}

.u-section-3 .u-image-1 {
  min-height: 1063px;
  background-image: url("images/Screenshot2024-10-06103009.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 412px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 90px;
    padding-right: 90px;
  }

  .u-section-3 .u-line-1 {
    width: 270px;
    margin-left: 64px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 877px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 316px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 672px;
    background-position: 71.15% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 237px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1008px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 149px;
  }

  .u-section-3 .u-image-1 {
    min-height: 635px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 146px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 580px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-4 .u-image-1 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 17px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 497px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-4 .u-image-2 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 17px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 497px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-4 .u-image-3 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 17px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 497px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 1px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 226px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-image-3 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-image-1 {
    height: 519px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-image-2 {
    height: 519px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-image-3 {
    height: 519px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-2 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-3 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 327px;
  }
} .u-section-5 {
  background-image: url("images/pixelcut-export16.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-group-1 {
  width: 363px;
  min-height: 313px;
  background-image: none;
  height: auto;
  margin: -94px auto 60px 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 10px;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 60.26% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 830px;
}

.u-section-6 .u-group-1 {
  width: 1055px;
  min-height: 244px;
  margin: 33px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  margin-top: 20px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 29px auto 60px 1px;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 494px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-1 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 23px 20px 17px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 494px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-2 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 23px 27px 17px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 494px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-3 {
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 23px 20px 17px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-6 .u-group-1 {
    min-height: 240px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 939px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 19px;
    margin-left: 14px;
  }

  .u-section-6 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-3 {
    margin-right: 19px;
    margin-left: 14px;
  }

  .u-section-6 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-right: 19px;
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1462px;
  }

  .u-section-6 .u-group-1 {
    min-height: 253px;
    width: 720px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 719px;
    margin-top: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 15px;
    margin-left: 11px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 15px;
    margin-left: 11px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 15px;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1967px;
  }

  .u-section-6 .u-group-1 {
    min-height: 367px;
    width: 540px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 11px;
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2231px;
  }

  .u-section-6 .u-group-1 {
    min-height: 480px;
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 39px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 7px;
    margin-left: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 7px;
    margin-left: 5px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 7px;
    margin-left: 5px;
  }
} .u-section-7 {
  background-image: url("images/pixelcut-export17.png");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 479px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 24.12% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    background-position: 15.49% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 569px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 626px;
}

.u-section-8 .u-group-1 {
  width: 555px;
  min-height: 500px;
  background-image: none;
  height: auto;
  margin: -212px 0 0 auto;
}

.u-section-8 .u-container-layout-1 {
  padding-right: 0;
}

.u-section-8 .u-line-1 {
  width: 326px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 20px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0 20px;
}

.u-section-8 .u-line-2 {
  width: 175px;
  height: 9px;
  transform-origin: left center 0;
  margin: 20px auto 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 34px 41px 0 20px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  margin: 28px auto 0 20px;
}

.u-section-8 .u-group-2 {
  width: 585px;
  min-height: 206px;
  margin: -254px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-8 .u-image-1 {
  background-image: url("images/inteligencia-artificial-cambio-climatico.jpg");
  min-height: 255px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/662575a3668554375811f411.jpeg");
  min-height: 255px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-3 {
  background-image: url("images/2A-Cambio-climatico-e-inteligencia-artificial-la-logica-de-una-conexion.jpg");
  min-height: 255px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-4 {
  background-image: url("images/Screenshot2024-10-06104247.jpeg");
  min-height: 255px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-8 .u-group-1 {
    width: 455px;
    min-height: 433px;
    height: auto;
  }

  .u-section-8 .u-line-1 {
    width: 269px;
    margin-top: 45px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 13px;
    position: relative;
  }

  .u-section-8 .u-line-2 {
    width: 144px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 13px;
    position: relative;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 45px;
  }

  .u-section-8 .u-group-2 {
    width: 469px;
    min-height: 224px;
    margin-top: -201px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-8 .u-group-1 {
    width: 397px;
    min-height: 412px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-8 .u-line-1 {
    width: 357px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-line-2 {
    width: 168px;
    height: 11px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 38px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-8 .u-group-2 {
    width: 309px;
    min-height: 342px;
    margin-top: -187px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 55px;
  }

  .u-section-8 .u-image-1 {
    min-height: 331px;
  }

  .u-section-8 .u-image-2 {
    min-height: 331px;
  }

  .u-section-8 .u-image-3 {
    min-height: 331px;
  }

  .u-section-8 .u-image-4 {
    min-height: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1816px;
  }

  .u-section-8 .u-group-1 {
    width: 305px;
    min-height: 448px;
    margin-top: 20px;
  }

  .u-section-8 .u-line-1 {
    width: 193px;
    margin-top: 45px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-line-2 {
    width: 104px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 45px;
  }

  .u-section-8 .u-group-2 {
    width: 225px;
    min-height: 438px;
    margin-top: 20px;
    margin-left: 158px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: -41px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2173px;
  }

  .u-section-8 .u-group-1 {
    min-height: 413px;
    margin-top: -133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-line-1 {
    width: 277px;
    margin-top: 0;
  }

  .u-section-8 .u-line-2 {
    width: 149px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-group-2 {
    min-height: 378px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    margin: 40px 6px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 196px;
  }
} .u-section-9 {
  min-height: 643px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  background-image: none;
  min-height: 643px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 120px;
}

.u-section-9 .u-line-1 {
  width: 326px;
  height: 3px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-line-2 {
  width: 175px;
  height: 9px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  margin: 42px auto 0 1px;
}

.u-section-9 .u-image-1 {
  min-height: 602px;
  background-image: url("images/Foto-educacion-IA-final-1.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 412px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 90px;
    padding-right: 90px;
  }

  .u-section-9 .u-line-1 {
    width: 270px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 496px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 316px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 380px;
    background-position: 71.15% 50%;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 237px;
  }

  .u-section-9 .u-image-1 {
    min-height: 570px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 149px;
  }

  .u-section-9 .u-image-1 {
    min-height: 359px;
  }
}